[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
evm_version = "cancun"
via_ir = true
optimizer = true
optimizer_runs = 200

[profile.default.fmt]
line_length = 120
